.room-card {
  background: #f7f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 18rem;

  &__header {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #333;
  }

  &__text {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: #555;
  }

  &__others {
    font-size: 0.75rem;
    color: #777;
  }
}